.modalctnr{
    max-width: 500px !important;
    position: fixed;
    top: 10%;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    /*padding: 1rem 2rem;*/
    z-index: 2;
    border:2px solid #000;
    border-radius: 15px;
   
}
.txtimgctnr{
    display: flex;
    padding: 1rem;
}
.profileavatarmodal{
 margin-right: 20px;
}
.txtarea{
    border-radius: 10px;
}
.lastbtns{
    padding: 1rem;
}
.modalcancelbtn{
    margin-top: 5px;
    margin-bottom: 25px;
}
.postbtn{
    margin-top: 25px; 
    margin-bottom: 25px;
    padding: 0.5rem 1.5rem;
    float: right;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

.modalcancelbtn:hover{
    cursor: pointer;
}
