.navctnr{
    display: flex;
    justify-content:space-between;
    padding: 1.5rem ;
   border: 2px solid rgb(216, 212, 212);
   position: static;
   width: 100%;
   z-index: 100;
}
.searchctnr{
    position: absolute !important;
    z-index: 2 !important;
    background-color: #F3F4F6 !important;
    margin-top: 6px;
    margin-left: -75px;
    overflow-y: scroll;
    width:320px !important;
    max-height: 60vh;
    border-radius: 10px;
}
.notificationctnr{
    position: absolute !important;
    right: 0%;
    width: 350px !important;
    z-index: 10 !important;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 5px;
    overflow-y: scroll;
    max-height: 50vh;
}

.notisubctnr{
    margin-top: 32px;
}

.notifycancel{
    cursor: pointer;
}
@media screen and (max-width:500px) {
    .notificationctnr{
        width: 100% !important;
        height:100vh !important;
    }
}