.navctnr{
    display: flex;
    justify-content:space-between;
    padding: 1.5rem !important;
    padding-right: 2rem !important;
   border: 2px solid rgb(216, 212, 212);
   position: static;
   width: 100%;
   z-index: 100;;
}
.searchctnr{
    position: absolute !important;
    z-index: 2 !important;
    background-color: #F3F4F6 !important;
    margin-top: 6px;
    margin-left: -75px;
    overflow-y: scroll;
    width:320px !important;
    max-height: 60vh;
    border-radius: 10px;
}
.brandlogo{
    font-size: 25px;
    color: #000;
    font-weight: 700;
    font-style: italic;
}
.notificationctnr{
    position: absolute !important;
    right: 0%;
    width: 350px !important;
    z-index: 10 !important;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 5px;
    overflow-y: scroll;
    max-height: 50vh;
}

.notisubctnr{
    margin-top: 32px;
}

.notifycancel{
    cursor: pointer;
}
.searchbox{
   height: 40px;
   border-radius: 5px;
}
.mobilenavctnr{
    display: none !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    padding: 5px !important;
    z-index: 3 !important;
    background-color: #fff !important;
    box-shadow: seashell !important;
    -moz-box-shadow: 0 0 3px #ccc;
   -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 5px #000 !important;
}
.mobilenav{
    width: 100% !important;
    padding: 10px;
    border-radius: 15px !important;
    display: flex !important;
    justify-content: space-between !important;
}
.desktopnav{
    margin: 0 15px;
}
Link{
    text-decoration: none !important;
}
@media screen and (max-width:600px) {
    .notificationctnr{
        width: 100% !important;
        height:100vh !important;
    }
    .searchbox{
        width: 120px;
        height: 30px;
        border-radius: 5px;
     }
     .desktopnav{
            display: none !important;
    }
    .mobilenavctnr{
        display: block !important;
    }
}

