.navctnr{
    display: flex;
    justify-content:space-between;
    padding: 1.5rem ;
   border: 2px solid rgb(216, 212, 212);
   position: static;
   width: 100%;
   z-index: 100;
}
.searchctnr{
    position: absolute !important;
    z-index: 2 !important;
    background-color: #F3F4F6 !important;
    margin-top: 6px;
    margin-left: -75px;
    overflow-y: scroll;
    width:320px !important;
    max-height: 60vh;
    border-radius: 10px;
}