.userprofileparent{
        display: grid !important;
        grid-template-columns: 25% 75%;
        max-width: 650px !important;
        margin: 0 auto !important;
        padding:30px 30px;
        border-bottom: 2px solid rgb(177, 176, 176);
}
.userprofileavatar{  
    width:150px !important;
    height: 150px !important;
    margin-right: 20px;
    margin-bottom: 20px;
}
.userprofilechildone,.userprofilechildtwo{
    display: grid !important;
    grid-template-columns: auto auto auto;
}
.editprofilebtn{
    background-color: rgb(233, 233, 245) !important;
}

@media screen and (max-width:600px){
    .userprofileparent{
       grid-template-columns: 25% 75%;
       padding: 20px 5px;
    }
.userprofileavatar{
    width: 100px !important;
    height: 100px !important;
}
}
@media screen and (max-width:360px){
    .userprofileparent{
       grid-template-columns: 20% 80%;
       padding: 20px 5px;
    }
.userprofileavatar{
    width: 70px !important;
    height: 70px !important;
}
}